backcall
blis
catalogue
certifi
chardet
click
cymem
dataclasses
decorator
fasttext
filelock
future
idna
importlib-metadata
ipdb
jedi
joblib
murmurhash
numpy
parso
pexpect
pickleshare
plac
preshed
prompt-toolkit
ptyprocess
pybind11
Pygments
regex
requests
sacremoses
sentencepiece
six
spacy
srsly
thinc
tokenizers
torch
tqdm
traitlets
transformers
urllib3
validators
wasabi
wcwidth
zipp
